@media all and (min-width: 768px) {
  tr  td {
      vertical-align: middle !important;
  }
    span {

        padding: 1rem 1rem;
      }


}

#backgroundImg {
  background-image: url(/assets/mtnview.jpg);
  background-repeat: no-repeat;
  background-position: relative;
  background-attachment: fixed;
}

#statsTile {
  background-color: lightgray;
  color: black;
  opacity:0.3;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#view:hover {
  color: blue;
}
#edit:hover {
  color: orange;
}
#delete:hover {
  color: red;
}
#search:hover {
  color: lightslategray;
}

#search {
  vertical-align: middle;
}

#addRideIcon {
  vertical-align: middle;
}

#addRideIcon:hover {
  color: blue;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.spanRideSummary {
  column-span: 10;
}

#rowHighlight:hover {
  background-color: rgb(243, 241, 241);
}
