<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div class="card">
  <div>
      <div >
      <div id="backgroundImg">
        <div>
          <h2 class="text-center font-weight-bold py-3"><em>Ride Tracker</em></h2>
        </div>
        <div style='padding: 20px 0px 30px 30px'>
        <div class="card" style="width: 18rem">
            <div class="card-body bg-light">
              <h5 class="card-title text-center">Stats</h5>
              <p class="card-text"><b>Miles ridden:</b> {{ totalMiles | number : '3.0-2' }}<br>
                <b>Average power:</b> {{ totalAvgPwr | number : '3.0-2' }} watts</p>
              <!-- <button class="btn btn-outline-primary btn-sm center" (click)='showAddRide()'>Add a Ride...</button> -->
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='mode === "summary" || mode === "search" || mode === "searchResults"' >
        <h3 class='text-center'>
          Rides
          <i class="material-icons float-center" id="addRideIcon" (click)="showAddRide()" ngbTooltip="Add Ride">add</i>
          <i class="material-icons float-center" id="search" (click)="showSearch()" ngbTooltip="Search">search</i>
        </h3>
      </div>
    </div>
    <div *ngIf='mode === "search"' id="table" class="container">
      <div class='card-body'>
        <div class='col-6 center'>
          <form #keywordForm='ngForm' id='editRide' name='editRide' class='form-inline'>
            <div class='form-group'>
              <input class='form-control' type='text' name='keyword' placeholder='Keyword...' ngModel />
            </div>
            <input type='submit' name='search' value='Search' (click)='search(keywordForm)' class='btn btn-outline-primary btn-sm' />
            <button type='button' class='btn btn-outline-dark btn-sm' (click)='mode = "summary"'>Back</button>
          </form>
        </div>
      </div>
    </div>
    <div id="table" class="table-editable table-striped">
      <table class="table table-striped" *ngIf='mode === "summary" || mode === "search"'>
        <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
        <tr>
          <td></td>
          <td class='center'>
            <i class="material-icons float-center" id="sortName" (click)="sort('name')" ngbTooltip="Sort">sort_by_alpha</i>
          </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class='center'>
                <i style='padding: 0px 50px 0px 0px'class="material-icons float-center" id="sortBike" (click)="sort('bike')" ngbTooltip="Sort">sort_by_alpha</i>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

              <tr *ngFor="let ride of rides" id='rowHighlight'>
            <td>
            <i class="material-icons" id="view" (click)="displayRide(ride)" ngbTooltip="Details">visibility</i>
          </td>
          <td>
            <span contenteditable="False" style="text-align: center"><b>{{ride.name}}</b><br></span><span style="text-align: center">{{ ride.address.city}}, {{ ride.address.state}}</span>
          </td>
          <td>
            <span contenteditable="true">{{ride.rideDate}}</span>
          </td>
          <td>
            <span contenteditable="true">{{ride.distance}} mi</span>
          </td>
          <td>
            <span contenteditable="true">{{ride.duration}}</span>
          </td>
          <td>
            <span contenteditable="true">{{ride.avgHr}} watts</span>
          </td>
          <td>
            <span contenteditable="true">{{ride.avgPwr}} hr</span>
          </td>
          <td>
            <span contenteditable="true">{{ride.bike}}</span>
          </td>
          <td>
            <span><ngb-rating [rate]="ride.rating" max="5"></ngb-rating></span>
          </td>
          <td (click)='setEditRide(ride)'>
            <span><i class="material-icons" id="edit" ngbTooltip="Edit">edit</i>
          </span>
          <td>
            <span class="table-remove">
              <i class="material-icons" id="delete" (click)="destroy(ride.id)" ngbTooltip="Delete">delete</i>
            </span>
          </td>
        </tr>
      </table>
      </div>
      <div id="table"  *ngIf='mode === "details"'>
          <h4 class="card-header text-center font-weight-bold py-3">Ride Details</h4>
          <div class='card-body'>
          <table class="table table-striped">
                <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
            <tr>
              <td>
              <i class="material-icons" (click)="displayTable()" data-md-tooltip="Tooltip content" ngbTooltip="List">visibility_off</i>
            </td>
            <td>
              <span contenteditable="False" style="text-align: center"><b>{{selected.name}}</b><br></span><span style="text-align: center">{{ selected.address.city}}, {{ selected.address.state}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.rideDate}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.distance}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.duration}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.avgHr}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.avgPwr}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.bike}}</span>
            </td>
            <td>
              <span contenteditable="true">{{selected.rating}}</span>
            </td>
            <td (click)='setEditRide(selected)'>
              <span><i class="material-icons" ngbTooltip="Edit">edit</i>
            </span>
            </td>
            <td>
              <span class="table-remove">
                <i class="material-icons" (click)="destroy(selected.id)" ngbTooltip="Delete">delete</i>
              </span>
            </td>
          </tr>
          <tr><td></td>
            <td colspan="10">
            <span style="text-align: left"><b>Description: </b>{{ selected.description }}<br></span>
              <span style="text-align: left"><b>Comments: </b>{{ selected.comments }}<br></span>
              <span style="text-align: left"><b>Start Location: </b>{{ selected.address.address }} {{ selected.address.address2 }},
                {{ selected.address.city }}, {{ selected.address.state }} {{ selected.address.zipcode }}</span><br>
                <span><a href="{{ selected.activityUrl }}" target='_blank' >Activity</a> | <a href="{{ selected.courseUrl }}" target='_blank'> Course</a><br></span>
            </td>
            </tr>
            </table>
      </div>
      </div>
        <div *ngIf='mode === "add"'>
          <h4 class="card-header text-center font-weight-bold py-3">Add a Ride...</h4>
          <div class='card-body'>
          <div class='form-group'>
            <form #rideToAdd='ngForm' (ngSubmit)="addRide(rideToAdd)" class='form' id='rideAdd' name='rideAdd'>

              <table style="max-width: 600px; display: block; margin: auto">
                <tr>
                  <td><input class='form-control' type='date' name='rideDate' placeholder='Ride date...' ngModel /></td>
                  <td colspan='2'><input class='form-control' type='number' name='rating' placeholder='Rating: 1 - 5...' ngModel /></td>
                </tr>
                <tr>
                <td colspan='3'><input class='form-control' type='text' name='name' placeholder='Ride name...' ngModel /></td>
              </tr>
              <tr>
                <td><input class='form-control' type='text' name='bike' placeholder='Bike...' ngModel /></td>
                <td><input class='form-control' type='number' name='distance' placeholder='Distance...' ngModel /></td>
                <td><input class='form-control' type="number" id="hours" name="hours" ngModel placeholder="HH..." /></td>
                <td><input class='form-control' type="number" id="minutes" name="minutes" ngModel placeholder="mm..." required /></td>
              </tr>
              <tr>
                <td><input class='form-control' type='number' name='calories' placeholder='Calories burned...' ngModel /></td>
                <td><input class='form-control' type='number' name='avgPwr' placeholder='Avg power...' ngModel /></td>
                <td colspan='2'><input class='form-control' type='number' name='avgHr' placeholder='Avg heart rate...' ngModel /></td>
                </tr>
                <tr>
                    <td colspan='2'><input class='form-control' type='text' name='address' placeholder='123 The Street' ngModel /></td>
                    <td colsapn='2'><input class='form-control' type='text' name='address2' placeholder='Apt, etc.' ngModel /></td>
                  </tr>
                  <tr>
                    <td><input class='form-control' type='text' name='city' placeholder='City' ngModel /></td>
                    <td colspan='2'><input class='form-control' type='text' name='state' placeholder='State' ngModel /></td>
                    <td><input class='form-control' type='text' name='zipcode' placeholder='Zipcode' ngModel /></td>
                  </tr>
                    <tr><td colspan='4'><input class='form-control' type='textarea' rows='2' name='description' placeholder='Description...' ngModel /></td></tr>
                    <tr><td colspan='4'><input class='form-control' type='textarea' rows='3' name='comments' placeholder='Comments...' ngModel /></td></tr>
                    <tr><td colspan='4'><input class='form-control' type='text' name='activityUrl' placeholder='Activity URL...' ngModel /></td></tr>
                    <tr><td colspan='4'><input class='form-control' type='text' name='courseUrl' placeholder='Course URL...' ngModel /></td></tr>
                    <hr>
                    <div class='float-left' style='padding: 0px 0px 10px 0px'>
                    <input type='submit' name='submit' value='Save' (click)='addRide(rideToAdd)' class='btn btn-outline-primary btn-sm' />
                    <button type='button' class='btn btn-outline-warning btn-sm' (click)='mode = "summary"'>Cancel</button>
                    </div>
                  </table>
                </form>
              </div>
            </div>
          </div>
        <div *ngIf='mode === "edit"' id="table" class="container">
          <h4 class="card-header text-center font-weight-bold py-3">{{ editRide.name }}</h4>
          <div style='padding: 0px 0px 30px 0px'>
          <div class='card-body'>
            <div class='form-group'>
          <form id='editRide' name='editRide'>
              <table style="max-width: 600px; display: block; margin: auto">
                <tr>
                  <td colspan='4' class='text-center'><h4>Id: {{editRide.id}}</h4></td>
                </tr>
                <tr>
                  <td><label for="name"> Date: </label><input class='form-control' type='date' name='rideDate' placeholder='Ride date...' [(ngModel)]="editRide.rideDate" /></td>
                  <td><label for="name"> Rating: </label><input class='form-control' type='number' name='rating' placeholder='Rating: 1 - 5...' [(ngModel)]="editRide.rating" /></td>
                </tr>
                <tr>
                <td colspan='3'><label for="name"> Name: </label><input class='form-control' type='text' name='name' placeholder='Ride name...' [(ngModel)]="editRide.name" /></td>
              </tr>
              <tr>
                <td><label for="name">Bike: </label><input class='form-control' type='text' name='bike' placeholder='Bike...' [(ngModel)]="editRide.bike" /></td>
                <td><label for="name">Distance: </label><input class='form-control' type='number' name='distance' placeholder='Distance, e.g. 45.35' [(ngModel)]="editRide.distance" /></td>
                <td><label for="name">Duration: </label><input class='form-control' type='number' name='duration' placeholder='Duration in seconds...' [(ngModel)]="editRide.duration" /></td>
              </tr>
              <tr>
                <td><label for="name">Calories:</label><input class='form-control' type='number' name='calories' placeholder='Calories burned...' [(ngModel)]="editRide.calories" /></td>
                <td><label for="name">Avg Power:</label><input class='form-control' type='number' name='avgPwr' placeholder='Average power...' [(ngModel)]="editRide.avgPwr" /></td>
                <td><label for="name">Avg Heart Rate:</label><input class='form-control' type='number' name='avgHr' placeholder='Average heart rate...' [(ngModel)]="editRide.avgHr" /></td>
                </tr>
                <tr>
                    <td colspan='2'><label for="name">Address:</label><input class='form-control' type='text' name='address' placeholder='123 The Street' [(ngModel)]="editRide.address.address" /></td>
                    <td><label for="name">Apt:</label><input class='form-control' type='text' name='address2' placeholder='Apt...' [(ngModel)]="editRide.address.address2" /></td>
                  <tr>
                    <td><label for="name">City:</label><input class='form-control' type='text' name='city' placeholder='City' [(ngModel)]="editRide.address.city" /></td>
                    <td><label for="name">State:</label><input class='form-control' type='text' name='state' placeholder='State' [(ngModel)]="editRide.address.state" /></td>
                    <td><label for="name">Zip:</label><input class='form-control' type='text' name='zipcode' placeholder='Zipcode' [(ngModel)]="editRide.address.zipcode" /></td>
                  </tr>
                    <tr><td colspan='3'><label for="name">Description</label><input class='form-control' type='text' name='description' placeholder='Description...' [(ngModel)]="editRide.description" /></td></tr>
                    <tr><td colspan='3'><label for="name">Comments: </label><input class='form-control' type='text' name='comments' placeholder='Comments...' [(ngModel)]="editRide.comments" /></td></tr>
                    <tr><td colspan='3'><label for="name">Course: </label><input class='form-control' type='text' name='courseUrl' placeholder='Course URL...' [(ngModel)]="editRide.courseUrl" /></td></tr>
                    <tr><td colspan='3'><label for="name">Activity: </label><input class='form-control' type='text' name='activityUrl' placeholder='Activity URL...' [(ngModel)]="editRide.activityUrl" /></td></tr>
                    <hr>
                    <div class='center'>
                    <input type='submit' name='submit' value='Save' (click)='updateRide(editRide)' class='btn btn-outline-primary float-left btn-sm' />
                    <button class='btn btn-outline-warning float-left btn-sm' (click)='mode = "summary"'>Cancel</button>
                    <button name="rideDelete" (click)='destroy(editRide.id)'class='btn btn-outline-danger float-right btn-sm'>Delete Ride</button>
                    </div>
                  </table>
                </form>
              </div>
          </div>
        </div>
            </div>
            <div *ngIf='mode === "searchResults"' class='container'>
                <div class='card-body'>
                <div><h4 class='text-center'>Search Results
                  <i class="material-icons float-center" id="search" (click)="showSearch()" ngbTooltip="Search">search</i></h4>
              </div>
            </div>
            <div id="table" class="container">
                <div class='card-body'>
                    <div class='col-6 center'>
                    <form #keywordForm2='ngForm' id='search2' name='search2' class='form-inline'>
                    <div class='form-group'>
                      <input class='form-control' type='text' name='keyword' placeholder='Keyword...' ngModel />
                    </div>
                      <input type='submit' name='search' value='Search' (click)='search(keywordForm2)' class='btn btn-outline-primary btn-sm' />
                      <button type='button' class='btn btn-outline-dark btn-sm' (click)='mode = "summary"'>Back</button>
                    </form>
                    </div>
                  </div>
                <div id="table" class="table-editable table-striped">
                  <table class="table table-striped">
                        <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
                    <tr *ngFor="let ride of searchResults" id='rowHighlight'>
                      <td>
                      <i class="material-icons" id="view" (click)="displayRide(ride)" ngbTooltip="Details">visibility</i>
                    </td>
                    <td>
                      <span contenteditable="False" style="text-align: center"><b>{{ride.name}}</b><br></span><span style="text-align: center">{{ ride.address.city}}, {{ ride.address.state}}</span>
                    </td>
                    <td>
                      <span contenteditable="true">{{ride.rideDate}}</span>
                    </td>
                    <td>
                      <span contenteditable="true">{{ride.distance}} mi</span>
                    </td>
                    <td>
                      <span contenteditable="true">{{ride.duration}}</span>
                    </td>
                    <td>
                      <span contenteditable="true">{{ride.avgPwr}} watts</span>
                    </td>
                    <td>
                        <span contenteditable="true">{{ride.avgHr}} watts</span>
                    </td>
                    <td>
                      <span contenteditable="true">{{ride.bike}}</span>
                    </td>
                    <td>
                      <span><ngb-rating [rate]="ride.rating" max="5"></ngb-rating></span>
                    </td>
                    <td (click)='setEditRide(ride)'>
                      <span><i class="material-icons" id="edit" ngbTooltip="Edit">edit</i>
                    </span>
                    <td>
                      <span class="table-remove">
                        <i class="material-icons" id="delete" (click)="destroy(ride.id)" ngbTooltip="Delete">delete</i>
                      </span>
                    </td>
                  </tr>
                </table>
                </div>
          </div>
    </div>
    </div>
    </div>
