/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";

#backgroundImg {
  background-image: url(assets/mtnview.jpg);
  background-repeat: no-repeat;
  background-position: relative;
  background-attachment: fixed;
}
